@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html{
  font-family: "Montserrat", sans-serif;
}
h6{
  font-family: "Montserrat";
}
nav{
  font-size: "Montserrat";
  font-size: small;
  color: black
}
button {
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  color: black;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  outline: none;
  box-shadow: 0 6px 7px rgba(0, 0, 0, 0.1),
    inset 0 2px 4px rgba(255, 255, 255, 0.5); /* Hinzufügen eines inneren Schattens für Tiefe */
  backdrop-filter: blur(12px) saturate(180%);
  -webkit-backdrop-filter: blur(12px) saturate(180%);
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.5);
  transition: box-shadow 0.4s ease, transform 0.4s ease;
  background-image: linear-gradient(
    to top,
    rgba(206, 255, 255, 0.75),
    rgba(216, 255, 244, 0.65)
  );
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% 0%;
}

.button:hover {
  box-shadow: 0 7px 9px rgba(0, 0, 0, 0.15),
    inset 0 3px 5px rgba(255, 255, 255, 0.6);
}

@keyframes fillButtonAndPress {
  0% {
    background-size: 100% 0%;
    transform: translateY(0);
    border: 2px solid rgba(255, 255, 255, 0.6);
  }
  100% {
    background-size: 100% 100%;
    transform: translateY(2px);
    border: 1px solid rgba(205, 235, 218, 0.6);
  }
}

.button:active {
  animation: fillButtonAndPress 0.4s ease forwards;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2),
    inset 0 2px 4px rgba(255, 255, 255, 0.7);
}

.font {
  font-family: "Montserrat" ;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

  
  
  .fil0 {
    fill: #fffdef;
  }
  

.landing {
    background-color:black;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: black;
    font-family: "Montserrat";
}

.carousel-inner img {
    max-height: 300px; /* Ajusta la altura máxima de las imágenes */
    width: 10px; /* Ajusta el ancho automáticamente */
    border-radius: 40px;
    margin-bottom: 40px;
    margin-top: 50px;
}

.carousel {
    max-width: 300px; /* Ajusta el ancho máximo del carousel */
    margin: auto; /* Centra el carousel en la página */
}

.h2, h3, p {
    color: black;
    text-align: center;
    margin-top: 30px;
    margin-top: 50px;
    padding: 10px;
}

.col {
    text-align: center;
}

.row {
    text-align: center;
}

.name {
    color:black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.dark-theme {
    color:black!important; /* Cambiar el color de las letras a negro */
}

.social-icons {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.social-icons li {
  margin: 0 5px; /* Espacio entre los iconos */
}

.bi-github {
  margin-top: 20px;
  color: rgb(171, 64, 192);
}

.bi-filetype-html {
  margin-top: 20px;
  color: blueviolet;
}

.bi-filetype-css {
  margin-top: 20px;
  color: rgb(223, 194, 184);
}

.bi-filetype-js {
  margin-top: 20px;
  color: aquamarine;
}
.mb-3{
margin-top: 20px;
color:black
}
.image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: inherit;
}

.slider {
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
  padding: 10px;
}

.slider .slide-track {
  display: flex;
  animation: scroll 15s linear infinite;
  -webkit-animation: scroll 15s linear infinite;
  width: fit-content;
}

.slider .slide {
  width: 150px;
  margin-right: 100px;
  max-width: 80px;
}

.slider .slide img {
  width: 100%;
}

@keyframes scroll {
  0% {
    transform: translateX(100%); /* Mueve todos los slides fuera de la vista hacia la derecha */
  }
  100% {
    transform: translateX(-100%); /* Mueve todos los slides fuera de la vista hacia la izquierda */
  }
}

.slider .slide:hover .slide-track {
  animation-play-state: paused;
}

.slider .slide:hover {
  cursor: pointer; /* Cambia el cursor al pasar sobre los slides */
}
